.plan {
    /* Default colors */
    --plan-bg-clr: var(--white);
    --price-txt-clr: var(--price-text-clr);
    --list-txt-clr: var(--main-text-clr);
    --btn-bg: linear-gradient(var(--btn-grad-deg), var(--grad-clrs));
    --btn-txt-clr: var(--white);
    --btn-border-clr-hover: var(--price-text-clr);
    --btn-bg-clr-hover: transparent;
    --btn-clr-hover: hsl(237, 63%, 64%);

    background: var(--plan-bg-clr);
    padding: 2rem 1.75rem;
    display: grid;
    justify-items: center;
    row-gap: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0rem 3rem -2.25rem var(--price-text-clr);
    min-width: 20.25rem;
}

.dark_theme {
    /* Dark theme colors */
    --plan-bg-clr: linear-gradient(var(--plan-grad-deg), var(--grad-clrs));
    --price-txt-clr: var(--white);
    --list-txt-clr: var(--white);
    --btn-bg: var(--white);
    --btn-txt-clr: hsl(237, 63%, 64%);
    --btn-border-clr-hover: var(--white);
    --btn-clr-hover: var(--white);
}

.type {
    font-size: calc(var(--fs) * 1.25);
    color: var(--list-txt-clr);
}

.price {
    color: var(--price-txt-clr);
    font-size: calc(var(--fs) * 4.75);
    display: flex;
    align-items: center;
    line-height: 1;
}

.price span {
    font-size: calc(var(--fs) * 2.5);
}

.list {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    color: var(--list-txt-clr);
}

.list li {
    padding-block: .875rem;
    border-top: 1px solid var(--period-text-clr);
}

.list li:last-child {
    border-bottom: 1px solid var(--period-text-clr);
}

.button {
    width: 100%;
    border-radius: .5rem;
    border: none;
    padding: .75rem;
    text-transform: uppercase;
    background: var(--btn-bg);
    color: var(--btn-txt-clr);
    font-size: calc(var(--fs) / 1.25);
    letter-spacing: 2px;
    border: 1px solid transparent;
    transition: all .125s ease-in-out;
}


@media screen and (min-width: 1024px) {
    
    .plan {
        padding: 2rem 2rem;
        max-width: 21.875rem;
        flex: 1;
        gap: 1.875rem;
    }

    .dark_theme {
        padding-block: 3.25rem;
    }

    .button:hover {
        background: var(--btn-bg-clr-hover);
        color: var(--btn-clr-hover);
        border-color: var(--btn-border-clr-hover);
        cursor: pointer;
    }
}